<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>WebHotel</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastrar novo quarto
			</h1>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:action="@{/quartos/salvar}" th:object="${quarto}" class="form-vertical  js-form-loading">

			<!-- MENSAGEM DE SUCESSO -->
    		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
	    		<span th:text="${mensagem}"></span>
	    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
    			</button>
    		</div>
    		
    		<!-- ALERTA DE CAMPOS VALIDADOS-->
    		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
	    		 <div th:each="error : ${#fields.detailedErrors()}">
	    			<span th:text="${error.message}"></span>
	    		</div>
    		</div>
			
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('numero')} ? has-error">
						<label for="input-produto-nome">Número</label>
						<input id="input-produto-nome" th:field="*{numero}" type="text" class="form-control" placeholder="Ex: 101A"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('andar')} ? has-error">
						<label for="input-produto-preco">Andar</label>
						<input id="input-produto-preco" th:field="*{andar}" type="text" class="form-control" placeholder="Ex: 7º"/>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group" th:classappend="${#fields.hasErrors('categoria')} ? has-error">
						<label for="input-produto-estoque">Categoria</label>
						<select class="form-control" th:field="*{categoria}">
							<option value="" label="-- Selecione --"></option>
							<option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                    	</select>
					</div>
				</div>
			</div>


			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a th:href="@{/quartos}" class="btn  btn-default">Voltar</a>
			</div>
		</form>
	</div>

</section>
</body>
</html>